.input-text {
	input, .p-inputnumber, .p-calendar {
		width: 100%;
	}
}

.auto-complete {
	input, span {
		width: 100%;
	}
}

.panel-footer {
	padding-top: 1em;
	text-align: right;
	button {
		min-width: 150px;
		margin-left: 6px;
	}
}

.drop-down {
	div.p-dropdown {
		width: 100%;
	}
}
